In [1]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta
import yfinance as yf

In [2]:
company_names = pd.read_csv("Data/myData.csv")

In [3]:
company_names.head()

       Trading Name Trading Code      RIC
0  Tai Sin Electric          500  TAIS.SI
1           3Cnergy          502  CNER.SI
2        HS Optimus          504  HSOP.SI
3         AsiaMedic          505  ASIM.SI
4       Fuji Offset          508  FOPS.SI

In [4]:
company_names["New Code"] = [str(i) + ".SI" for i in company_names["Trading Code"]]

In [5]:
x = yf.Ticker("NLC.SI")
df = x.history(period = '1y')
y = df.astype("float")
print(y.tail())
y["Close"]['2022-07-14']

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2022-07-07  0.250  0.250  0.250  0.250      0.0        0.0           0.0
2022-07-08  0.240  0.240  0.215  0.215  34000.0        0.0           0.0
2022-07-12  0.235  0.240  0.235  0.240   2100.0        0.0           0.0
2022-07-13  0.235  0.235  0.235  0.235   5000.0        0.0           0.0
2022-07-14  0.240  0.240  0.240  0.240   2000.0        0.0           0.0

0.23999999463558197

In [9]:
def get_returns(stock):
    #Pulling data from Yahoo. Changing the objects to float and making the date index into a column
    data = yf.Ticker(stock).history(period = '5y')
    timeframes = ["3mo","1y","2y","5y"]
    if len(data) == 0:
        return [0 for i in range(len(timeframes))]
    else:    
        data = data.astype("float")
        lastdate = data.index[-1]
    
        #finding the start date for 3mths, 1Y, 2Y, 5Y from the current date
        timedate = get_start_dates(lastdate, timeframes)

        #Slicing stock data according timeframes and appending to list according to timeframe
        gainlist = []
        lastclose = data.iloc[-1,3]
        for period in timedate:
            try:
                tempdf = data[period:]
                dividends = sum(tempdf["Dividends"])
                firstclose = tempdf['Close'][period]
                gains = (lastclose - firstclose +dividends)/firstclose
            except:
                gains = 0
            gainlist.append(round(gains,2))

    return pd.Series(gainlist)

def get_start_dates(lastdate, datelist):
    newlist = []
    #lastdate = datetime.strptime(lastdate,"%Y-%m-%d")
    for period in datelist:
        if "mo" in period:
            time = period[:-2]
            date = lastdate - relativedelta(months=int(time))
        else:
            time = period[:-1]
            date = lastdate - relativedelta(years=int(time))
        newlist.append(date)
    return newlist

get_returns("500.SI")

0   -0.03
1    0.17
2    0.52
3    0.49
dtype: float64

In [7]:
company_names[["3mo","1y","2y","5y"]] = company_names["New Code"].head().apply(get_returns)
company_names.head()

       Trading Name Trading Code      RIC New Code   3mo    1y    2y    5y
0  Tai Sin Electric          500  TAIS.SI   500.SI -0.03  0.17  0.52  0.49
1           3Cnergy          502  CNER.SI   502.SI  2.83  2.83  2.02  0.00
2        HS Optimus          504  HSOP.SI   504.SI -0.25 -0.25  0.00  0.00
3         AsiaMedic          505  ASIM.SI   505.SI -0.08 -0.29 -0.54  0.00
4       Fuji Offset          508  FOPS.SI   508.SI -0.09 -0.27 -0.38  0.00

In [11]:
#Benchmarking against ES3 (SPDR Straits Times Index ETF)
get_returns("ES3.SI")

0   -0.06
1   -0.01
2    0.18
3   -0.05
dtype: float64